html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Skepfusky Fursona Info & L O R E
    link(rel="stylesheet", href="styles.css")
  body
    //- put or draw an image of your ref sheet here you lazy crap
    main(role="main")
      section
        img(src="", role="img", alt="alt", aria-label="alt")
      hr(role="separator")
      section
        h2 Color palettes
        #palette-grid-layout
          mixin colorf(color, hex_val, rgb_val)
          .palette
            h2=color
            span=hex_val
            span=rgb_val
          +colorf('Yellow', 'Sum color here')
      section
        h2 Personality traits and shit
        article
          p Stuff here I suppose