*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  max-width: 1366px;
  padding: 0 1.35rem;
  margin: 0 auto;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
}